.customStatControl {
  & > :nth-child(n + 2) {
    margin-top: 6px;
  }
  .inputlike {
    color: white;
    align-items: center;
    background: #4444;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid transparent;
    input {
      margin: 0;
      background-color: transparent;
      border: none;
      color: inherit;
      outline: none;
      text-align: center;
    }
    &:focus-within {
      border-color: #fff9;
    }
  }
  .customStatWeights,
  .customStatLabel {
    display: flex;
    align-items: center;
    & > :nth-child(n + 2) {
      margin-left: 4px;
    }
  }
  .customStatLabel {
    input {
      flex-grow: 1;
    }
  }
  .customStatWeights {
    justify-content: space-between;

    > label {
      display: flex;
      padding: 0 4px;
    }
    img {
      cursor: pointer;
      vertical-align: bottom;
      height: 1.5em;
      margin-right: 4px;
      filter: drop-shadow(0 0 0 white);
    }
    input {
      width: 35px;
      padding: 0;
    }
  }
}
